:root {
	/* spancing */
	--x-space-1: 0.1rem;
	--x-space-2: 0.2rem;
	--x-space-3: 0.4rem;
	--x-space-4: 0.5rem;
	--x-space-5: 0.7rem;
	--x-space-6: 1rem;
	--x-space-7: 1.15rem;
	--x-space-8: 1.4rem;

	/* colors */
	--x-primary-1: 200, 20%, 0%;
	--x-primary-2: 200, 20%, 15%;

	--x-gray-1: 200, 20%, 95%;
	--x-gray-2: 200, 20%, 90%;
	--x-gray-3: 200, 20%, 85%;
	--x-gray-4: 200, 20%, 80%;
	--x-gray-5: 200, 20%, 70%;
	--x-gray-6: 200, 20%, 50%;
	--x-gray-7: 200, 20%, 30%;

	--x-blue-1: 214, 100%, 85%;
	--x-blue-2: 214, 100%, 75%;
	--x-blue-5: 214, 100%, 15%;

	--x-green-1: 122, 39%, 85%;
	--x-green-2: 122, 39%, 75%;
	--x-green-5: 122, 39%, 15%;

	--x-red-1: 0, 100%, 85%;
	--x-red-2: 0, 100%, 75%;
	--x-red-5: 0, 100%, 15%;

	/* fonts */
	--x-font: sans-serif;
	--x-font-color: 0, 0%, 15%;

	/* fonts: sizes */
	--x-text-xs: 0.8rem;
	--x-text-sm: 0.9rem;
	--x-text-base: 1rem;
	--x-text-lg: 1.2rem;
	--x-text-xl: 1.4rem;

	/* fonts: weights */
	--x-font-bold: 500;

	/* borders */
	--x-border-radius: 0.2rem;
	--x-border-size-1: 1px;
	--x-border-size-2: 2px;

	/* shadow */
	--x-shadow-sm: 0rem 0.3rem 1rem hsla(var(--x-gray-7), 0.1);

	/* layers */
	--x-layer-1: 10;
	--x-layer-2: 20;
	--x-layer-3: 30;

	/* container */
	--x-container-width: 90%;
}

body {
	margin: 0;
	font-family: var(--x-font);
	color: var(--x-font-color);
}

.container {
	margin: 0 auto;
	max-width: var(--x-container-width);
	padding: var(--x-space-6);
}

form {
	fieldset {
		padding: 0;
		border: none;
		margin-bottom: 2rem;
	}

	label {
		font-size: 0.8rem;
		display: block;
		padding-bottom: var(--x-space-2);
		color: hsl(var(--x-font-color));
	}

	input {
		padding: var(--x-space-4);
		width: stretch;
		height: var(--x-space-6);
		font-size: 0.9rem;
		border-radius: 0.2rem;
		border: var(--x-border-size-1) solid hsl(var(--x-gray-4));
		background-color: hsla(var(--x-gray-1), 20%);
	}
}

button,
input[type="submit"],
a {
	cursor: pointer;
}

.button {
	color: var(--x-font-color);
	padding: var(--x-space-3) var(--x-space-5);
	border: var(--x-border-size-1) solid hsl(var(--x-gray-5));
	border-radius: var(--x-border-radius);
	cursor: pointer;
	background-color: hsl(var(--x-gray-1));

	&:hover {
		background-color: hsl(var(--x-gray-2));
	}

	&.secondary {
		background-color: transparent;
		border: var(--x-border-size-1) solid hsl(var(--x-primary-2));
	}

	&.primary {
		padding: var(--x-space-3) var(--x-space-6);
		background-color: hsl(var(--x-primary-2));
		border-color: hsl(var(--x-primary-2));
		color: white;
	}
}

.badge {
	background-color: hsl(var(--x-gray-2));
	display: inline;
	padding: var(--x-space-2) var(--x-space-4);
	font-size: var(--x-text-xs);
	border: var(--x-border-size-1) solid hsl(var(--x-gray-4));
	border-radius: var(--x-border-radius);

	&.green {
		background-color: hsl(var(--x-green-1));
		border-color: hsl(var(--x-green-2));
		color: hsl(var(--x-green-5));
	}

	&.red {
		background-color: hsl(var(--x-red-1));
		border-color: hsl(var(--x-red-2));
		color: hsl(var(--x-red-5));
	}

	&.blue {
		background-color: hsl(var(--x-blue-1));
		border-color: hsl(var(--x-blue-2));
		color: hsl(var(--x-blue-5));
	}
}

/* hide slotted content on page load */
x-menu:not(:defined) {
	display: none;
}
x-modal:not(:defined) {
	display: none;
}
