:root {
	/* spancing */
	--x-spacing-1: 0.1rem;
	--x-spacing-2: 0.2rem;
	--x-spacing-3: 0.4rem;
	--x-spacing-4: 0.5rem;
	--x-spacing-5: 0.7rem;
	--x-spacing-6: 1rem;
	--x-spacing-7: 1.15rem;
	--x-spacing-8: 1.4rem;

	/* colors */
	--x-gray-1: 200, 25%, 95%;
	--x-gray-2: 200, 25%, 90%;
	--x-gray-3: 200, 25%, 85%;
	--x-gray-4: 200, 25%, 80%;
	--x-gray-5: 200, 25%, 70%;
	--x-gray-6: 200, 25%, 50%;
	--x-gray-7: 200, 25%, 30%;

	--x-blue-1: 214, 100%, 90%;
	--x-red-1: 0, 100%, 90%;

	/* fonts */
	--x-font: sans-serif;
	--x-font-color: 0, 0%, 15%;

	/* fonts: sizes */
	--x-text-xs: 0.8rem;
	--x-text-sm: 0.9rem;
	--x-text-base: 1rem;
	--x-text-lg: 1.2rem;
	--x-text-xl: 1.4rem;

	/* fonts: weights */
	--x-font-bold: 500;

	/* borders */
	--x-border-radius: 0.2rem;
	--x-border-size-1: 1px;
	--x-border-size-2: 2px;

	/* shadow */
	--x-shadow-sm: 0rem 0.3rem 1rem hsla(var(--x-gray-6), 0.1);

	/* layers */
	--x-layer-1: 10;
	--x-layer-2: 20;
	--x-layer-3: 30;
}